.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
webview/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
companion-mod/.gradle/**
companion-mod/build/classes/**
companion-mod/build/docs/**
companion-mod/build/reports/**
companion-mod/build/resources/**
companion-mod/build/tmp/**
companion-mod/build/libs/*-sources.jar
companion-mod/build/libs/*-javadoc.jar
companion-mod/src/**
companion-mod/gradle/**
companion-mod/gradlew
companion-mod/gradlew.bat
companion-mod/build.gradle
companion-mod/settings.gradle
companion-mod/gradle.properties
companion-mod/.gitignore
