package dev.hytale.devtools.companion;

import com.hypixel.hytale.server.core.event.events.BootEvent;
import com.hypixel.hytale.server.core.plugin.JavaPlugin;
import com.hypixel.hytale.server.core.plugin.JavaPluginInit;
import dev.hytale.devtools.companion.assets.AssetRegistryExportService;

import javax.annotation.Nonnull;

public class HytaleDevtoolsCompanion extends JavaPlugin {
    public HytaleDevtoolsCompanion(@Nonnull JavaPluginInit init) {
        super(init);
    }

    @Override
    protected void setup() {
        this.getEventRegistry().registerGlobal(BootEvent.class, event -> AssetRegistryExportService.exportSnapshot(this));
    }
}
