package {{GROUP}}.{{MOD_NAME_SQUASHED}}.listeners;

import {{GROUP}}.{{MOD_NAME_SQUASHED}}.chat.ChatMessageFormatter;
import com.hypixel.hytale.server.core.event.events.player.PlayerChatEvent;

public class PlayerChatListener {
    private static final ChatMessageFormatter FORMATTER = new ChatMessageFormatter();

    public static void onPlayerChat(PlayerChatEvent event) {
        event.setFormatter(FORMATTER);
    }
}
